<div class="container">
    <div class="row filtro">

        <h2>Filtro:</h2>
        <div>
           <select class="form-control btn-dark" #house (change)="trocarCasa(house.value)">
                <option value="todas">Selecione...</option>
                <option value="Gryffindor">Grifinória</option>
                <option value="Ravenclaw">Corvinal</option>
                <option value="Hufflepuff">Lufa-Lufa</option>
                <option value="Slytherin">Sonserina</option>
            </select>
        </div>

    </div>


    <div  *ngFor="let item of personagens" [class]="item.house" class="card semcasa" >
        <div class="row">
            <div class="col-md-4">
                <img [src]="item.image" class="card-img" alt="foto-personagem">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.actor }}</p>
                </div>
            </div>
        </div>
    </div>
</div>